In [50]:
from absenteeism_module_f import *

In [51]:
pd.read_csv('data/new_data.csv').head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0

In [52]:
model = absenteeism_model('model', 'scaler')

/Users/sharonhe/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/sharonhe/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 0.19.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [53]:
model.load_and_clean_data('data/new_data.csv')

In [86]:
df_outputs = model.predicted_outputs()
df_outputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.105075,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.810120,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.241170,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.160729,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.751491,1
5,1,0.0,0,0,6,225,28,24,0,1,2,0.692978,1
6,1,0.0,0,0,6,118,46,25,0,2,0,0.632960,1
7,0,0.0,0,1,6,179,30,19,1,0,0,0.105075,0
8,0,0.0,0,1,6,118,37,28,0,0,0,0.133915,0
9,1,0.0,0,0,6,118,37,28,0,0,0,0.595337,1
10,0,0.0,0,1,6,378,36,21,0,2,4,0.286105,0
11,0,0.0,1,0,6,118,50,31,0,1,0,0.756993,1
12,0,0.0,1,0,6,233,31,21,1,1,8,0.221894,0
13,0,0.0,0,1,6,179,30,19,1,0,0,0.105075,0
14,0,0.0,0,0,6,235,48,33,0,1,5,0.066559,0
15,0,0.0,0,0,6,268,33,25,1,0,0,0.188043,0
16,0,0.0,1,0,6,118,50,31,0,1,0,0.756993,1
17,1,0.0,0,0,6,179,30,19,1,0,0,0.527669,1
18,0,0.0,0,1,6,291,40,25,0,1,1,0.326469,0
19,1,0.0,0,0,7,179,30,19,1,0,0,0.543492,1
20,0,0.0,0,1,7,118,37,28,0,0,0,0.141467,0
21,0,0.0,0,1,7,233,31,21,1,1,8,0.017512,0
22,1,0.0,0,0,7,118,37,28,0,0,0,0.610567,1
23,1,0.0,0,0,7,118,37,28,0,0,0,0.610567,1
24,0,0.0,0,1,7,233,31,21,1,1,8,0.017512,0
25,0,0.0,0,1,7,235,43,38,0,1,0,0.477286,0
26,0,0.0,1,0,7,233,31,21,1,1,8,0.233072,0
27,1,0.0,0,0,7,228,58,22,0,2,1,0.683749,1
28,0,0.0,0,1,7,118,37,28,0,0,0,0.141467,0
29,1,0.0,0,0,7,228,58,22,0,2,1,0.683749,1
30,0,0.0,0,1,7,189,33,25,0,2,2,0.187752,0
31,0,0.0,0,1,7,118,37,28,0,0,0,0.141467,0
32,0,0.0,0,1,7,361,28,27,0,1,4,0.323344,0
33,0,0.0,0,1,7,225,28,24,0,1,2,0.201788,0
34,1,0.0,0,0,7,369,31,25,0,3,0,0.964602,1
35,1,0.0,0,0,7,289,33,30,0,2,1,0.906619,1
36,1,0.0,0,0,7,235,37,29,1,1,1,0.731839,1
37,0,0.0,0,0,7,118,40,34,0,1,8,0.012369,0
38,0,0.0,0,0,7,231,39,35,0,2,2,0.266691,0
39,0,0.0,0,0,7,179,53,25,0,1,1,0.096073,0

* Probability: probability they will be excessively absent
* Prediction: 1 (excessive: >3 days), 0 (moderately)

# Connect with SQL

In [87]:
import pymysql

In [119]:
conn = pymysql.connect(database='predicted_output',
                      user='root', password='#') # INPUT PASSWORD

In [120]:
cursor = conn.cursor()

In [121]:
query = 'SELECT * FROM predicted_output'

In [122]:
cursor.execute(query)

0

In [123]:
insert_query = 'INSERT INTO predicted_output VALUES'

In [124]:
for i in range(df_outputs.shape[0]):
    insert_query += '(' 
    
    for j in range(df_outputs.shape[1]):
        insert_query += str(df_outputs[df_outputs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query[:-2] + '), '

In [125]:
insert_query = insert_query[:-2] + ';'

In [126]:
cursor.execute(insert_query)

40

In [127]:
conn.commit()